/* Webfont: AzoWeb-Light */
@font-face {
  font-family: 'AzoSansWebLt';
  src: url('AzoSansWeb-Light.eot');
  /* IE9 Compat Modes */
  src: url('AzoSansWeb-Lightd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('AzoSansWeb-Light.woff') format('woff'), /* Modern Browsers */ url('AzoSansWeb-Light.ttf') format('truetype'), /* Safari, Android, iOS */ url('AzoSansWeb-Light.svg#AzoWeb-Light') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
