@font-face {
  font-family: 'nosid';
  src: url('nosid1e46.ttf?7c1eul') format('truetype'), url('nosid1e46.woff?7c1eul') format('woff'), url('nosid1e46.svg?7c1eul#nosid') format('svg');
  font-weight: normal;
  font-style: normal;
}
